*.tar.gz
*.deb
*.dsc
*.changes
*.build
*.log
*.substvars
firmapiu-gui/.pybuild
firmapiu-gui/.pybuild
firmapiu-gui/debian/firmapiu-gui
firmapiu-gui/firmapiu_gui.egg-info
firmapiu-gui/debian/firmapiu-gui.debhelper.log
firmapiu-gui/debian/firmapiu-gui.substvars
