Source: firmapiu-daemon
Section: java
Priority: optional
Maintainer: Valerio Baldisserotto <svalo@libersoft.it>
Build-Depends: debhelper (>= 9.0.0), javahelper (>=0.25), libfirmapiu-java
Standards-Version: 3.9.5
Homepage: http://www.libesoft.it

Package: firmapiu-daemon
Architecture: all
Depends: ${misc:Depends}
Description: Daemon providing DBus interface to libfirmapiu-java
 Daemon providing DBus interface to libfirmapiu-java 
